<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test DMS app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6201310A1CB8EE6D00D54DF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6201311E1CB8EE6D00D54DF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>620131291CB8EE6D00D54DF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
